# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
build/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/ios/Flutter/App.framework

# Android
/android/app/src/main/assets/flutter_assets/
/android/key.properties
/android/*.keystore
/android/build/
/android/.gradle/
/android/local.properties

# iOS
/ios/Pods/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner.xcworkspace/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcuserdata/

# Web
/web/build/
